<div class="row text-center my-3">
    <div class="col-12">
        <h2>Device Name: {{this.deviceName}}</h2>
    </div>
</div>

<div class="row mx-2 text-center">
    <div class="col-12">
        <h2>Measurements</h2>
    </div>
</div>
<div class="row mx-2 text-center">
    
    <div class="col-6" *ngFor="let measure of measurements">
       <h6>Measurement: {{measure._measurement}}</h6>
       <h6>Measurement value: {{measure._value}}</h6>
       <h6>Time of Measurement: {{measure._time | date:'dd/MM/yyyy HH:mm'}}</h6>
    </div>
</div>
<div class="row text-center mx-2 my-3">
    <div class="col-12" *ngIf="deviceName === 'RDHT4'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704289455529&to=1704311055529&panelId=1" width="100%" height="200" frameborder="0"></iframe>
    </div>
    <div class="col-12" *ngIf="deviceName === 'RDHT1'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704307358021&to=1704311942685&panelId=4" width="100%" height="200" frameborder="0"></iframe>
    </div>
    <div class="col-12" *ngIf="deviceName === 'RDHT2'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704307358021&to=1704311942685&panelId=3" width="100%" height="200" frameborder="0"></iframe>
    </div>
    <div class="col-12" *ngIf="deviceName === 'RDHT3'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704307358021&to=1704311942685&panelId=2" width="100%" height="200" frameborder="0"></iframe>
    </div>
    <div class="col-12" *ngIf="deviceName === 'BRGB'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704366094210&to=1704387694210&panelId=5" width="100%" height="200" frameborder="0"></iframe>
    </div>

    <div class="col-12" *ngIf="deviceName === 'DS1'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704366094210&to=1704387694210&panelId=6" width="100%" height="200" frameborder="0"></iframe>
    </div>
    <div class="col-12" *ngIf="deviceName === 'DL'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704366094210&to=1704387694210&panelId=7" width="100%" height="200" frameborder="0"></iframe>
    </div>
    <div class="col-12" *ngIf="deviceName === 'DUS1'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704366094210&to=1704387694210&panelId=8" width="100%" height="200" frameborder="0"></iframe>
    </div>
    <div class="col-12" *ngIf="deviceName === 'DB'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704366094210&to=1704387694210&panelId=9" width="100%" height="200" frameborder="0"></iframe>
    </div>
    <div class="col-12" *ngIf="deviceName === 'DPIR1'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704366094210&to=1704387694210&panelId=10" width="100%" height="200" frameborder="0"></iframe>
    </div>
    <div class="col-12" *ngIf="deviceName === 'DMS'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704366094210&to=1704387694210&panelId=11" width="100%" height="200" frameborder="0"></iframe>
    </div>
    <div class="col-12" *ngIf="deviceName === 'RPIR1'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704366094210&to=1704387694210&panelId=12" width="100%" height="200" frameborder="0"></iframe>
    </div>
    <div class="col-12" *ngIf="deviceName === 'RPIR2'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704366094210&to=1704387694210&panelId=13" width="100%" height="200" frameborder="0"></iframe>
    </div>
    <div class="col-12" *ngIf="deviceName === 'DS2'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704366094210&to=1704387694210&panelId=14" width="100%" height="200" frameborder="0"></iframe>
    </div>
    <div class="col-12" *ngIf="deviceName === 'DUS2'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704366094210&to=1704387694210&panelId=15" width="100%" height="200" frameborder="0"></iframe>
    </div>
    <div class="col-12" *ngIf="deviceName === 'DPIR2'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704366094210&to=1704387694210&panelId=16" width="100%" height="200" frameborder="0"></iframe>
    </div>
    <div class="col-12" *ngIf="deviceName === 'GDHT'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704366094210&to=1704387694210&panelId=17" width="100%" height="200" frameborder="0"></iframe>
    </div>
    <div class="col-12" *ngIf="deviceName === 'GLCD'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704366094210&to=1704387694210&panelId=18" width="100%" height="200" frameborder="0"></iframe>
    </div>
    <div class="col-12" *ngIf="deviceName === 'GSG'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704366094210&to=1704387694210&panelId=19" width="100%" height="200" frameborder="0"></iframe>
    </div>
    <div class="col-12" *ngIf="deviceName === 'RPIR3'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704366094210&to=1704387694210&panelId=20" width="100%" height="200" frameborder="0"></iframe>
    </div>
    <div class="col-12" *ngIf="deviceName === 'RPIR4'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704366094210&to=1704387694210&panelId=21" width="100%" height="200" frameborder="0"></iframe>
    </div>
    <div class="col-12" *ngIf="deviceName === 'BB'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704366094210&to=1704387694210&panelId=22" width="100%" height="200" frameborder="0"></iframe>
    </div>
    <div class="col-12" *ngIf="deviceName === 'B4SD'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704366094210&to=1704387694210&panelId=23" width="100%" height="200" frameborder="0"></iframe>
    </div>
    <div class="col-12" *ngIf="deviceName === 'BIR'">
        <iframe src="http://localhost:3000/d-solo/f065c3a2-c97e-4f48-a587-04a10e854772/dashboard-influx?orgId=1&from=1704366094210&to=1704387694210&panelId=24" width="100%" height="200" frameborder="0"></iframe>
    </div>

</div>
