<div class="row main-row dark-border mt-2 mx-2 text-center">
    <div class="col-8">
        <div class="row">
            <div class="col-8 dark-border family">
                Family Room
            </div>
            <div class="col-4 dark-border dinette">
                Dinette
            </div>

        </div>
        <div class="row">
            <div class="col-5 dark-border stairs">
                Stairs
            </div>
            <div class="col-6 dark-border kitchen">
                Kitchen
            </div>
            <div class="col-1  dark-border pantry">
                Pantry
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-12 dark-border ownerssuite">
                Owners Suite
            </div>
            
        </div>
        <div class="row">
            <div class="col-6 dark-border wic">
                WIC
            </div>
            <div class="col-6 dark-border obath">
                O. BATH
            </div>
        </div>
    </div>
</div>
<div class="row main-row dark-border text-center mx-2 mb-2">
    <div class="col-3">
        <div class="row">
            <div class="col-12 dark-border bedroom3">
                Bedroom 3
            </div>
            <div class="col-12 dark-border bath">
                Bath
            </div>
            <div class="col-12 dark-border bedroom2">
                Bedroom 2
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-1 dark-border foyer">
                Foyer
            </div>
            <div class="col-2 dark-border lndry">
                Lndry
            </div>
        </div>
        <div class="row">
            <div class="col-12 dark-border coveredporch">Covered Porch</div>
        </div>
    </div>
    <div class="col-5 dark-border garage">
        Garage
    </div>
</div>
