<div class="row main-row dark-border mt-2 mx-2 text-center">
    <div class="col-8">
        <div class="row">
            <div class="col-8 dark-border family">
            </div>
            <div class="col-4 dark-border dinette">
                
            </div>

        </div>
        <div class="row">
            <div class="col-5 dark-border stairs">
                
            </div>
            <div class="col-6 dark-border kitchen">
                
            </div>
            <div class="col-1  dark-border pantry">
                
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-12 dark-border ownerssuite">
            </div>
            
        </div>
        <div class="row">
            <div class="col-6 dark-border wic">
                
            </div>
            <div class="col-6 dark-border obath">
            </div>
        </div>
    </div>
</div>
<div class="row main-row dark-border text-center mx-2 mb-2">
    <div class="col-3">
        <div class="row">
            <div class="col-12 dark-border bedroom3">
            </div>
            <div class="col-12 dark-border bath">
                
            </div>
            <div class="col-12 dark-border bedroom2">
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-1 dark-border foyer">
                
            </div>
            <div class="col-2 dark-border lndry">
                
            </div>
        </div>
        <div class="row">
            <div class="col-12 dark-border coveredporch"></div>
        </div>
    </div>
    <div class="col-5 dark-border garage">
        
    </div>
</div>
