<div class="row main-row dark-border mt-2 mx-2 text-center">
    <div class="col-8">
        <div class="row">
            <div class="col-8 dark-border family">
            </div>
            <div class="col-4 dark-border dinette">
                <div class="text-end sensors p-3">RPIR4</div>

            </div>

        </div>
        <div class="row">
            <div class="col-5 dark-border stairs">
                <div class="text-start sensors mx-5 mt-5">RPIR2</div>

            </div>
            <div class="col-6 dark-border kitchen">
                <div class="row">
                    <div class="col-6">
                        <div class="text-start sensors mx-5">RPIR3</div>
                    </div>
                    <div class="col-6">
                        <div class="text-start sensors mx-5">RDHT3</div>
                    </div>
                </div>


            </div>
            <div class="col-1  dark-border pantry">

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-12 dark-border ownerssuite">
                <div class="row">
                    <div class="col-3">
                        <div class="text-start sensors mx-5">RDHT4</div>

                    </div>
                    <div class="col-7">
                        <div class="text-end sensors mx-5">BB</div>

                    </div>
                    <div class="col-2">
                        <div class="text-end sensors mx-5">B4SD</div>

                    </div>
                </div>
                <div class="row text-center mt-5">
                    <div class="col-3">
                        <div class="text-start sensors mt-5 mx-2">BIR</div>

                    </div>
                    <div class="col-5 mt-4">
                        <div class="sensors mt-5 mx-1">BRGB</div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-6 dark-border wic">
                <div class="text-start sensors m-1">GSG</div>

            </div>
            <div class="col-6 dark-border obath">
            </div>
        </div>
    </div>
</div>
<div class="row main-row dark-border text-center mx-2 mb-2">
    <div class="col-3">
        <div class="row">
            <div class="col-12 dark-border bedroom3">
                <div class="text-center sensors m-1">RDHT3</div>

            </div>
            <div class="col-12 dark-border bath">
                <div class="text-end sensors p-3 mt-4">RPIR1</div>

            </div>
            <div class="col-12 dark-border bedroom2">
                <div class="text-center sensors m-1">RDHT1</div>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <div class="col-1 dark-border foyer">
                <div class="row">
                    <div class="text-start sensors m-1">DMS</div>

                    <div class="text-end sensors p-3">DB</div>

                    <div class="text-start sensors m-1">DS1</div>
                </div>
            </div>
            <div class="col-2 dark-border lndry">
                <div class="text-end sensors px-3 mt-4">DS2</div>
                <div class="text-end sensors px-3 mt-1">GLCD</div>

            </div>
        </div>
        <div class="row">
            <div class="col-12 dark-border coveredporch">
                <div class="row">
                    <div class="text-start sensors m-1">DUS1</div>
                    <div class="text-start sensors m-1">DPIR1</div>
                    <div class="text-start sensors mx-1 mt-2">DL</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-5 dark-border garage">
        <div class="text-start sensors mx-5">DPIR2</div>
        <div class="text-start sensors mx-1 mt-3">DUS2</div>
        <div class="text-start sensors m-1">GDHT</div>

    </div>
</div>