<nav class="navbar navbar-expand-lg navbar-light dark-blue-background" >
    <a class="nav-logo" href="#">Smart Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-button" [routerLink]="['alarm-clock']" >Alarm Clock</a>
            </li>

            <li class="nav-item active">
                <a class="nav-button" [routerLink]="['register']" >House Alarm</a>
            </li>

          </ul>
    </div>
  </nav>
